[package]
name = "aoc-25"
version = "0.1.0"
edition = "2024"

[dependencies]
itertools = "0.14.0"
plotters = "0.3.7"
rand = "0.9.2"

[profile.release]
lto = true
strip = true
panic = "abort"
codegen-units = 1
